@import url('https://fonts.googleapis.com/css?family=Roboto:300');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: white;
  color: black;
  overflow: scroll;
}
#title{
  padding: 1px;
  text-align: center;
}

#center{
  padding: 1px;
  text-align: center;
}
#center{
justify-content: center;
text-align: center;
}

.wrapper{
  display: flex;
}
.left{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: left;

}
.left .photo{
  width : 50%;
  justify-items: center;
}
.right{
  flex: 1;
  padding-bottom: 5 rem;
}
.right .name{
  padding-bottom: 20 rem;
  }
.right .para{
padding-bottom: 20 rem;
}
.signin{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 1 rem
}
.signin form{
  width: 80%;
  padding-bottom: 1rem;
}
.signin label{
  font-size: 1 rem;
  line-height: 1 rem;
  font-weight: 400;
}
.signin .text-input{
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: white;
  border: 1px solid #555;
  color: black;
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

.signin .checkbox{
   margin-bottom:1 rem ;
   padding: 0.5rem 1rem;
}
.signin .firstbtn{
  margin-top: 5 rem;
  height: 20%;
  width: 20%;
  padding-top: 5 rem ;
}
.signin .firstbtn{
  background-color: aqua;
}
.signin .firstbtn:hover{
  border-color: #00ff00;
  color: #f96816;
}
.signin .register{
text-decoration: underline;
}
/*FOOTER*/
#main-footer{
  color: #ccc;
  text-align:center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 5rem;
}
#main-footer{
  color:blue;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .wrapper {
    width: 100%;
  }
  
}